/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 0px 0px;
    position: relative;
    ;
}

.navbar-logo h1 {
    margin: 0;
}

.navbar-links {
    display: flex;
    gap: 20px;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    padding: 0px 0px;
    background-color: red;
    margin: auto;
}

.navbar-links a:hover {
    background-color: #555;
    border-radius: 5px;
}

/* Menu Toggle Button */
.menu-toggle {
    display: none;
    background: none;
    color: white;
    font-size: 24px;
    border: none;
    cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 760px) {
    .navbar-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #333;
        width: 20%;
        text-align: left;
        
    }

    .navbar-links.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }
}