*{
  margin: 0;
  padding: 0;
}



.list{
  display: flex;
}
.flex{
  display: flex;
}

.hideOnMobile{
  display:flex;
}
.hideOnSidbar{
  margin-right:100% ;
  display: ;
}
.hideOnDesktop{
  display: flex;
 
  padding: 0%;

}


.search{
   border: 1px solid blue;
   height: 30px;
   border-radius: 10px;
   width:40%;
   box-shadow: 0px 2px violet;
   display: flex;
   background-color: red;
   margin-left:10px ;
}
.searchbar-div{
  
 height: 30px;
 width:80%;
 border: 0px;
 border-radius: 10px 0px 0px 10px;
background-color:yellow;
  
}
.search-bar{
  width: 100%;
  height: 30px;
  border: 0px;
  border-radius: 10px 0px 0px 10px;
}
.searchbutton-div{
  border: 0px;
  height:30px;
  width:30%;
  font-size: 10px;
  border-radius: 0px 10px 10px 0px;
  background-color: rgba(15, 25, 170, 0.803);
  
 
}
.Search-button{
  width: 100%;
  height:30px;
  border: 0px;
  font-size: 80%;
  margin-right: 20px;
  background-color:white;
  border-radius: 0px 10px 10px 0px;
}
.profile-image{
 height: inherit;
 border-radius: 50%;
 border: 1px solid midnightblue;
 cursor: pointer;
 margin-left: 5px;

 

}
.profile-imageli{
  width: auto;
  height: inherit;
 

  
  



}



.Close-sidebar{
  
  width: -80px;
  padding: 0%;
  
  

}
.Close{
 justify-content: center;
}

#label{
  
  margin-left: -30px;
  margin-right: 10px;

}

.Desk-search{

 
  height: 25px;
  border-radius: 10px ;
  border: 1px double green;
  margin-left: auto;
  box-shadow: 0px 1px red;

  /* background-color:rgba(128, 128, 128, 0.951); */
 
}
.Desk-searchbar{
  border-radius: 10px   ;
  height: inherit;
  border: 0px;

  
}
.Desk-button{
  height: inherit;
  border-radius: 0px 10px 10px 0px  ;
  background-color: white;
  border: none;
  cursor: pointer;

}
.move-li{
  display: flex;
  margin-left:auto;
  
  
}
nav div:first-child{
  margin-right: auto;
}

.menu{
  margin-left: 0px;
  margin: 0px;
  
 

}
.menu-button{
  width: 35px;
  height: 40px;
  
}













nav{
  background-color: rgba(132, 10, 10, 0.03);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  height: 40px;
  margin: 0px;
  width: 100%;
}
nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li{
  height: 40px;
  width: 60px;
  padding-top:10px;
  align-items: center
  
  
  ;

  
}
nav a{
  height: 60%;
  width: auto;
  padding: 0px;
  text-align: center;
  justify-content: center;
  
 
  
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}
nav a:hover{
  background-color: #f0f0f0;
  width: auto;
  
}
nav li:first-child{
  margin-right: auto;
}
.sidebar{
  position: fixed;
  top: 0px; 
  left: -2%;
  height:auto;
  width: inherit;
  background-color: darkgray;
  backdrop-filter: blur(50px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 10px;
}
.sidebar li{
  
  width:100%;
  
}
.sidebar a{
  width: 100%;
  
}

@media(min-width:760px){
  .hideOnDesktop{
    display: none;
  }
  .sidebar{
    left: -200px;
  }
}
@media(max-width: 760px){
  .hideOnMobile{
    display: none;
  }
 
  .revers{
    flex-direction: row-reverse;
    
  }
}
/* @media(max-width: 400px){
  .sidebar{
    width: 100%;
  }
} */